
/elpa
/server
/save-backup
/cache
/site-lisp/cedet

/auto-save-list
/.session
/custom.el
/url/cache
/.emacs.desktop

/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
eshell/

/srecode-map.el

*.elc
*_flymake.el
.bookmarks.el
.yas-compiled-snippets.el
.wg-file.el

history
CVS
.cvsignore
.svn
*~
*.log
.*.lock
\#*
*.swp
*~
abbrev_defs
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
tutorial/
/var
org-clock-save.el
.\#*
emms/
projectile-bookmarks.eld
