
/elpa
/server
/save-backup
/metadata

/auto-save-list
/.session
/custom.el
/url/cache
/.emacs.desktop

*.elc
CVS
.svn
*_flymake.el
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
eshell/
semanticdb/
*.swp
*~
abbrev_defs
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
.emacs.d/emms/
tutorial/
/var
org-clock-save.el
.\#*
emms/
projectile-bookmarks.eld
history
.wg-file.el